.RegisterAndLoginPageBox {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 241px);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1rem;
}

.diaplayContent {
    display: flex;
    width: 800px;
    height: fit-content;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.showPiece {
    width: 30%;
    overflow: hidden;
    background: linear-gradient(#FEC99D, #FE9480);
    background-position: center;
    background-size: contain;
    border-radius: 0.5rem;
    display: grid;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formBox {
    width: 70%;
    height: fit-content;
    padding: 1.25rem 0 0 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.Mainheading {
    user-select: none;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #43AE9A;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.roleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .imageBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        outline: 2px solid #43AE9A;
        border-radius: 50%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .image {
            display: flex;

            .img {
                width: 100%;
            }
        }
    }

    .roleSelector {
        display: flex;
        gap: 1rem;
        align-items: center;

        .roleInput {
            padding: 0.5rem;
            cursor: pointer;
            outline: none;
            border-radius: 5px;
            border: 2px solid gray;

            &:focus {
                border: 2px solid #425BAE;
            }
        }
    }
}


.inputBox {
    position: relative;
    overflow: hidden;
    margin: 0.25rem 0;
    padding: 0 0.5rem 0 0.25rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid rgb(63, 63, 63);

    &:focus-within {
        border-bottom: 2px solid #425BAE;

        .asideLabel {
            color: #425BAE;
        }
    }

    .asideLabel {
        left: 0.75rem;
    }

    .input {
        padding: 0.25rem 0.25rem;
        flex-grow: 2;
        border: none;
        outline: none;
        background-color: transparent;
    }

    .numberInput::-webkit-inner-spin-button {
        display: none;
    }

    .eyeIcon {
        cursor: pointer;
        font-size: 1.25rem;
        user-select: none;
        margin: 0 0.5rem;
    }
}

.terms {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    user-select: none;

    .termsCheck {
        margin: 0 1rem 0 0.25rem;
    }
}

.controlBox {
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding: 0 1rem;

    .changeMessage {
        font-size: 0.75rem;
    }

    .submitBTN {
        cursor: pointer;
        padding: 0.5rem 0.75rem;
        background-color: #425BAE;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 0.75rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        &:disabled {
            cursor: wait;
            background-color: #425baec9;
        }

        &:hover {
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        }

        &:active {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.clickText {
    cursor: pointer;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.warning {
    font-size: 1rem;
    color: crimson;
    text-align: center;
}